@import "tailwindcss";

/* Custom Fonts */
@font-face {
  font-family: 'OntrobucjDemo';
  src: url('../assets/font/PearlJean.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowText-Medium';
  src: url('../assets/font/HelveticaNowText-Medium.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
